@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*font-family: 'Poppins', sans-serif;*/

:root {
--fundo: #121212;
--lightblue: #446688;
--white: #fffcf9;
--green: rgb(26, 201, 26);
--orange: #ff850a;
--gray: #aeaeae;
--shadow-card: 5px 5px 20px rgba(0, 0, 0, 0.068);
}

* {
margin: 0;
padding: 0;
font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after {
box-sizing: border-box;
}
main{
    display: flex!important;
    width: 100%;
    flex-direction: column;
} 
.home-container{ 
    display: flex;
    width: 100%;
    height: 100%;
    gap: 15px;
}
.home-estatisticas{
    width: 50%; 
    height: 100%;
}
.home-pratos{
    width: 50%;
    background-color: var(--white);
    height: 100%;
    border-radius: 30px;

}
.pratos-container{
    width: 100%;
    height: 100%;
    padding: 40px;
}
.pratos-info {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pratos-info h2{
    font-size: 2rem;
    font-weight: 500;
}
.pratos-info p{
    color: var(--gray);
    font-size: 0.9rem;
    font-weight: 400;
}
.pratos-filtro{
    display: flex;
    background-color: rgba(128, 128, 128, 0.219);
    padding: 5px;
    border-radius: 40px;
}
.pratos-filtro button{
    color: var(--fundo);
    border: none;
    font-weight: 500;
    border-radius: 9999px;
    font-size: 1rem;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 90px;
    background: none;
}
.filtro-ativo-prato{
    background-color: var(--white)!important;
    font-weight: 500;
}
.pratos-lista{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;    
}
.pratos-elemento{
    display: flex;
}
.pratos-elemento-info{
    background-color: var(--white)!important;
    display: flex;
    width: 80%;
}
.pratos-elemento-info img{
    width: 90px;
    height: 90px;
    border-radius: 9999px;
    align-self: center;
}
.pratos-elemento-info div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.212);
    border-radius: 20px;
    padding: 8px;
}
.pratos-elemento-info div:nth-child(2){
    background-color: var(--white);
    margin-left: 20px;
}
.pratos-elemento-info h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--fundo);
}
.pratos-elemento-info p{
    font-size: 0.9rem;
    color: var(--fundo);
    font-weight: 300;
    height: 50px;
    width: 400px;
}
.pratos-elemento-info span{
    font-size: 1rem;
    color: var(--gray);
    font-weight: 300;

}
.pratos-elemento-price{
    display: flex;
    align-items: center;
}
.pratos-elemento-price span{
    color: var(--green);  
    font-size: 1.7rem;
    font-weight: 700;

}
.cabecalho-container{  
    height: 10%;
}
.cabecalho-container h2{
    font-size: 1.8rem;
}
.cabecalho-container p{
    font-size: 1rem;
}
.estatisticas-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-template-rows: auto auto auto; /* 3 fileiras */
    width: 100%;
    height: 85%;
    gap: 20px;
}
.estatisticas{
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5px 30px;
    height: 200px;
    box-shadow: var(--shadow-card);
}
.estatisticas-info{
    width: 70%;
}
.estatisticas-info h4{
    font-size: 3rem;
    color: var(--fundo);
    font-weight: 500;
    opacity: 0.9;
}
.estatisticas-info span{
    font-size: 1.5rem;
    color: var(--fundo);
}
.estatisticas-info p{
    font-size: 0.9rem;
    color: var(--gray);
    font-weight: 400;
}

.estatisticas-icon{
    background-color: rgba(146, 123, 123, 0.568);
    width: 30%;
    height: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.estatisticas-icon i{
    font-size: 3.5rem;
}

.estatisticas-icon:nth-child(5) i{
    color: rgb(179, 8, 8);
}
.estatisticas:nth-child(5){
    justify-content: space-between;
    background: rgb(255,196,0);
    background: linear-gradient(90deg, rgba(255,196,0,1) 0%, rgba(0,78,255,1) 0%, rgba(0,194,255,1) 100%);
    width: 100%;
}
.estatisticas:nth-child(6){
    background: rgb(255,196,0);
    background: linear-gradient(90deg, rgba(255,196,0,1) 0%, rgba(255,158,0,1) 0%, rgba(255,218,0,1) 100%);
    justify-content: space-between;
    width: 100%;
}
.estatisticas:nth-child(5) div{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;
    
 /* Define a 5ª div para ocupar duas colunas */
}

.estatisticas:nth-child(5) h4{
    font-size: 3rem;
    color: var(--white);
    
}
.estatisticas:nth-child(5) span{
    color: var(--white);
    font-size: 1.7rem;
}
.estatisticas:nth-child(5) p{
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 400;
}
.estatisticas:nth-child(6) div{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;
 /* Define a 5ª div para ocupar duas colunas */
}
.estatisticas:nth-child(6) {

    display: flex;
    justify-content: space-between;
 /* Define a 5ª div para ocupar duas colunas */
}
.estatisticas:nth-child(6) h4{
    color: var(--white);
}
.estatisticas:nth-child(6) span{
    color: var(--white);
    font-size: 1.7rem;
}
.estatisticas:nth-child(6) p{
    color: var(--white);
    font-weight: 400;
}
.estatisticas a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    color: var(--fundo);
    background-color: var(--white);
    padding: 4%;
    width: 150px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.estatisticas img{
    width: 170px;

}
.estatisticas:nth-child(5) .link-lock{
    opacity: 0.2;
}
.estatisticas .lock i{
    color: var(--fundo);
    margin-left: 15px;
    font-size: 1.5rem;
}
@media screen and (max-width: 912px) {
    .home-container{ 
        flex-direction: column;
    }
}