@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*font-family: 'Poppins', sans-serif;*/

:root {
  --darkblue: #161925;
  --lightblue: #446688;
  --white: #fffcf9;
  --green: #31af8b;
  --orange: #ff850a;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

caption{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 20px;
    background-color: var(--white);
}
table{
    background-color: var(--white);
    border-radius: 20px;
    padding: 1%;
}
th{
    background-color: rgba(231, 230, 234, 0.8);
    padding: 0.8rem;
}
td{
    text-align: center;
    padding: 0.8rem;
}
tr:hover{
    background-color: rgba(231, 230, 234, 0.4);
}

.id{
    font-weight: 800;
    background-color: rgba(231, 230, 234, 0.8);
}


.status-ativo{
    background-color: #2bee11;
    text-decoration: none;
    border-radius: 5px;
    color: var(--darkblue);
    font-weight: 600;
} 

.status-inativo{
    background-color: #f20b0b;
    text-decoration: none;
    border-radius: 5px;
    color: var(--darkblue);
    font-weight: 600;
}

.inserir, .atualizar, .ativar, .desativar{
    font-size: 1.5rem;
    text-decoration: none;
    color:  var(--darkblue);
}
