@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Poppins', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");


        :root {
            --fundo: #121212;
            --white: #FFFCF9;
            --shadow-card: 5px 5px 15px rgba(0, 0, 0, 0.2);
            --shadow-card2: 0 1px 10px 0 rgba(45, 54, 65, 0.2);
        }

        /*#region Global*/
        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html{
            font-family: 'Poppins', sans-serif;
        }

        main{
            display: grid;
            place-items: center;
            height: 100vh;
            width: 100vw;       
        }

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 900px;
            height: 600px;
            border-radius: 10px;
        }
        .form-img{  
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;    
            background-color: var(--fundo);
            border-radius: 10px;
            width: 50%;
            height: 600px;
        }
        .form-img div:nth-child(1) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 250px;
    
        }
        .form-img div:nth-child(1) .logo{
            width: 200px;
        }
        .form-img div:nth-child(1) p{
            font-size: 0.9rem;
            width: 300px;
            font-weight: 300;
            margin-top: 15px;
            color: #dfd4d4;
        }
        .form-img div:nth-child(2) {
            display: flex;
            height: 250px;
            width: 100%;
            justify-content: center;
        }
        .form-img .hamburguer-img{
            z-index: 1;
            width: 250px;
        }
        .form-img .bola-icon{
            position: absolute;
            right: 10px;
            bottom: 10px;
            height: 250px;
   
        }
        .form-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            background-color: white;
            border-radius: 0px 10px 10px 0px;
            box-shadow: var(--shadow-card);
            height: 600px;
         
        }

        .form-title {
            display: flex;
            flex-direction: column;
            width: 70%;

            height: 250px;
            margin-bottom: 30px;
        }

        .form-title div:nth-child(1) {
            display: flex;
            justify-content: center;
            width: 100%;
            flex-grow: 1;   
     
        }
        .form-title div i{
            font-size: 1.5rem;
            color: var(--white);
            text-decoration: none;
        }
        .form-title div a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background-color: var(--fundo);
            border-radius: 9999px;
            padding: 20px;
            width: 70px;
            height: 70px;
        }

        .form-title div h2{
            font-weight: 600;
            color: var(--fundo);
        }
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
    
            height: 250px;
            width: 70%;
        }


        form .inputs {
            display: flex;
            text-align: center;
            width: 100%;
            flex-direction: column;
            padding: 0px;
            gap: 20px;
           justify-content: flex-end;
        }
        form .inputs div{
            display: flex;
            align-items: center;
            gap: 10px;
        
        }
        form .inputs div i{
            font-size: 1.2rem;  
        } 
        form .inputs div:nth-child(3){
            display: flex;
            justify-content: flex-end;

        }  


        input[type="email"], input[type="password"]{
            width: 100%;
            height: 50px;
            padding: 2%;
            border: none;
            border-bottom: solid 2px var(--fundo);
        }
        input[type="submit"]{
            margin-top: 5%;
            width: 50%;
            height: 50px;
            border-radius: 10px;
            padding: 2%;
            border: none;
        }
        input:focus{
           outline: none;
        }

        .formBtn {
            background-color: #000;
            border-radius: 10px;
            padding: 1%;
            border: none;
            color: white;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            align-self: center;
            width: 100%;
            font-size: 1rem;
        }